@import "../../styles/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;

  .img {
    margin-top: 5px;
    margin-right: 10px;
    max-height: 15px;
  }
}

.xs {
  font-size: 1.2rem;
}

.xm {
  font-size: 2rem;
}

.xl {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
}
