@import "../../styles/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.xs {
  font-size: 1rem;
}

.xm {
  font-size: 2rem;
}

.xl {
  font-size: 3rem;
}
