@import "../../styles/variables";

.home-container {
  position: relative;
  margin-top: -80px;
  overflow: hidden;
  background-color: rgb(114, 123, 163);

  .title-container {
    z-index: 4;
    display: block;
    position: absolute;
    margin-left: 6rem;
    margin-top: 200px;

    .title {
      padding: 10px;
      text-align: left;
      text-transform: uppercase;
      width: fit-content;
      font-size: 4rem;
      color: $primary;
      background-color: $secondary;
      margin: 10px 0px;
    }
  }
}

.imgContainer {
  max-height: 100vh;

  .img {
    margin: 0 auto;
    max-width: 100%;
    filter: brightness(0.75);
  }
}

.slick-slider {
  mix-blend-mode: overlay;
}

.slick-dots {
  bottom: 55px !important;
}
.dots {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
