@import "../../styles/variables";

.container {
  position: sticky;
  z-index: 5;
  padding: 10px;
  color: $secondary;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 0px 25px;
  }
}
