.wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 5;
  background-color: #fff;
  margin-top: 70px;
  margin-left: 35px;

  .link {
    padding: 20px 35px;
    width: 250px;

    &:hover {
      background-color: #f4f2f5;
    }
  }
}
